ion-content{
    --ion-background-color: #FFF4AA; // Replace this with color of your choice
    --ion-background-color-rgb: 255, 244, 170;
  }

  ion-toolbar{
    --ion-background-color: #E38060;
  }